<h2>Admin - Rule Permissions</h2>
<form method="post" action="/admin">
<table class="table">
  <thead>
    <tr><th>Name</th><th>Telegram ID</th><th>Can Set Rules</th></tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.telegram_id %></td>
        <td><input type="checkbox" name="allow_<%= u.id %>" value="1" <%= 'checked' if u.can_set_rules %>></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button class="btn btn-primary" type="submit">Save</button>
</form>
